<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/MemberInfo.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <title>Word Salad</title>
  </head>
  <body>
    <div class="header">
      <header>
        <div class="MainTitle">
          <div class="Top">
            <h2>아무 말 대잔치</h2>
            <a href="#">
              <img class="image" src="/images/profile_img.webp" />
            </a>
          </div>
        </div>
      </header>
    </div>
    <article>
      <div class="container">
        
      </div>
    </article>
    <script src="/js/member.js"></script>
  </body>
</html>
