<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/NoticeEdit.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <title>Word Salad</title>
  </head>
  <body>
    <header>
      <div class="MainTitle">
        <div class="Top">
          <h2>아무 말 대잔치</h2>
          <a href="#">
            <img class="image" src="/images/profile_img.webp" />
          </a>
        </div>
      </div>
    </header>
    <article>
      <div class="container">
        <div class="title">
          <h3>게시글 수정</h3>
        </div>
        <div class="editPlace">
          <!--수정 위치-->
        </div>
      </div>
    </article>
    <script src="/js/edit.js"></script>
  </body>
</html>
