<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/NoticeDetail.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <title>Word Salad</title>
  </head>
  <body>
    <header>
      <div class="MainTitle">
        <div class="Top">
          <h2>아무 말 대잔치</h2>
          <a href="#">
            <img class="image" src="/images/profile_img.webp" />
          </a>
        </div>
      </div>
    </header>
    <article>
      <div class="container">
        <div class="card-base">
          <!--div class card 위치-->
        </div>
        <div class="reply-card">
          <input type="text" name="reply" placeholder="댓글을 남겨주세요!" />
          <div class="post">댓글 등록</div>
          <div class="comments">
            <div class="cont">
              <div class="comm-writer">
                <img class="image" src="/images/profile_img.webp" />
                <p><strong>더미 작성자</strong> 2021-01-01 00:00:00</p>
              </div>
              <div class="comm-info">
                <p>댓글 내용</p>
              </div>
            </div>
          </div>
          <div class="comments">
            <div class="cont">
              <div class="comm-writer">
                <img class="image" src="/images/profile_img.webp" />
                <p><strong>더미 작성자</strong> 2021-01-01 00:00:00</p>
              </div>
              <div class="comm-info">
                <p>댓글 내용</p>
              </div>
            </div>
          </div>
          <div class="comments">
            <div class="cont">
              <div class="comm-writer">
                <img class="image" src="/images/profile_img.webp" />
                <p><strong>더미 작성자</strong> 2021-01-01 00:00:00</p>
              </div>
              <div class="comm-info">
                <p>댓글 내용</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <script src="/js/detail.js"></script>
  </body>
</html>
