<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/Notice.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <title>Word Salad</title>
  </head>
  <body>
    <header>
      <div class="MainTitle">
        
      </div>
    </header>
    <article>
      <div class="container">
        <div class="title">
          <h3>
            안녕하세요,<br />
            아무 말 대잔치 <span>게시판</span> 입니다.
          </h3>
        </div>
        <div class="write">
          <button
            id="writeNotice"
            type="submit"
          >게시글 작성
          </button>
        </div>
        <div class="card-base">
          <!--게시판 카드 위치-->
        </div>
      </div>
    </article>
    <script src="/js/notice.js"></script>
  </body>
</html>
